body {
    margin: 0;
    font-family: Arial;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

/* LEFT */
.left {
    width: 50%;
    padding: 20px;
    text-align: center;
}

#visualization {
    margin-top: 30px;
}

.node {
    display: inline-block;
    padding: 15px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 6px;
    min-width: 40px;
}

.active {
    background: orange;
    color: white;
}

.arrow {
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
}

/* RIGHT */
.right {
    width: 50%;
    padding: 20px;
    background: #1e1e1e;
    color: #00ff90;
    font-family: monospace;
}

.code-line {
    padding: 4px;
}

.highlight {
    background: #333;
}

.variables {
    margin-top: 20px;
    background: #111;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

input, button {
    padding: 8px;
    margin: 5px;
}
